<!DOCTYPE html>
<html ng-app="HaveASeat">

    <head>
        <meta charset="UTF-8">
        <title>Restaurant</title>
        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/main.css" media="screen" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/style-portfolio.css">
        <link rel="stylesheet" href="static/css/picto-foundry-food.css" />
        <link rel="stylesheet" href="static/css/jquery-ui.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/css/font-awesome.min.css" rel="stylesheet">
        <link rel="icon" href="favicon-1.ico" type="image/x-icon">


        <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"> </script>
        <script type="text/javascript" src="static/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="static/js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="static/js/jquery.mixitup.min.js" ></script>
        <script src="static/angularjs/src/angular.js"></script>
        <script src="static/angularjs/src/angular-route.js"></script>
        <script src="static/angularjs/src/angular-resource.js"></script>
        <script src="static/angularjs/src/angular-animate.js"></script>
        <script src="static/angularjs/src/angular-cookies.js"></script>

        <script src="static/header/header.module.js"></script>
        <script src="static/header/header.component.js"></script>


        <script src="static/restaurants/restaurants.module.js"></script>
        <script src="static/restaurants/restaurants.component.js"></script>

        <script src="static/seats/seats.module.js"></script>
        <script src="static/seats/seats.component.js"></script>


        <script src="static/index/index.module.js"></script>
        <script src="static/index/index.component.js"></script>

        <script src="static/home/home.module.js"></script>
        <script src="static/home/home.component.js"></script>


        <script src="static/login/login.module.js"></script>
        <script src="static/login/login.component.js"></script>

        <script src="static/signup/signup.module.js"></script>
        <script src="static/signup/signup.component.js"></script>


        <script src="static/admin/admin.module.js"></script>
        <script src="static/admin/admin.component.js"></script>

        <script src="static/welcomeheader/welcomeheader.module.js"></script>
        <script src="static/welcomeheader/welcomeheader.component.js"></script>

        <script src="static/adminheader/adminheader.module.js"></script>
        <script src="static/adminheader/adminheader.component.js"></script>


         <script src="static/logout/logout.module.js"></script>
         <script src="static/logout/logout.component.js"></script>


        <script src="static/app.module.js"></script>
        <script src="static/app.config.js"></script>




    </head>

    <body>


<br/><br/><br/><br/>


     <ng-view></ng-view>





    </body>
</html>