<nav class="navbar navbar-default navbar-fixed-top" role="navigation"  ng-model="hideHeader">
            <div class="container">
                <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Have A Seat</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                        <ul class="nav navbar-nav main-nav  clear navbar-right "   ng-model="logout" >

                            <li>
                                <form   ng-submit="$ctrl.searchRestaurants()" class="navbar-form navbar-left"   ng-model="hideSearch">
                                <div class="form-group">
                                    <input type="text" class="form-control"     ng-hide="hideSearch"  placeholder="search" name="search"  ng-model="search" value="{{request.form.search}}">
                                    <span style="color:white" aria-hidden="true"></span>
                                </div>
                                <input type="submit" class="btn btn-default" value="Search">
                                </form>
                            </li>
                            <li><a class="color_animation" href="#!/about"    ng-hide="hideHeader">About Us</a></li>
                            <li><a class="color_animation" href="#!/contact"  ng-hide="hideHeader" >Contact US</a></li>
                           <li><a class="color_animation" href="" ng-click="logoutZZ()" ng-hide="showLogout" >Logout</a></li>
                        </ul>

                    </div><!-- /.navbar-collapse -->
                </div>
            </div><!-- /.container-fluid -->
        </nav>



<style>
    .bgimg{
        background-image: url("static/img/restaurants/restuarant_layout.jpg");
        height: 422px;
        margin-left: 49px;
    }
</style>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div style="right: 20px; top:90px ;background-color: lightblue; width: 300px;height: 700px; position: absolute;">
    <div  class="fb-page" data-href="https://www.facebook.com/Tem5HaveASeat/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/Tem5HaveASeat/" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/Tem5HaveASeat/">Have A Seat</a></blockquote>
      </div>
</div>

<div class="bgimgres" style="background-color:white; width: 350px;
   height: 200px;  left: 5px; top: 90px; position: absolute;" align="left"  >
    </div>

<style type="text/css">
.bgimgres {
   content: url('static/images/restaurants/Peanuts400.jpg');

}
</style>






    <!--// Subway Layout -->
    <div ng-hide="layout.subwayLayout">

                <div class="col-md-3">

                            <br/>
                            <br/>
                    <div class="lead" >Chooos your Table at :  <b>{{selectedRestaurant.name}}</b>
                        <br/>
                        <dl class="dl-horizontal">
                            <dt>Food</dt>
                            <dd>Veg / Non veg</dd>
                            <dt>Cuisines</dt>
                            <dd>Asian / Arabian</dd>
                            <dt>Food</dt>
                            <dd>Veg / Non veg</dd>
                        </dl>
                        <div  style="background-color: wheat">

                            <button type="button" class="btn btn-success"> </button> <span style="font-size:medium">Selection</span>
                            <br/>
                            <button type="button" class="btn btn-warning"> </button> <span style="font-size:medium">Booked</span>
                            <br/>
                            <button type="button" class="btn btn-danger"> </button> <span style="font-size:medium">Dining</span>
                            </div>
                    </div>
                </div>

                <div class="col-md-4 bgimg"  style="background-color: #784E45">

                    <!--ACTUAL LAYOUT DONT DISTURB-->
                    <div class="col-md-12" style="padding-left: 40%">

                        <div class="col-md-12">
                            <div class="lead" > &nbsp;&nbsp;&nbsp;</div>
                        </div>

                            <div class="col-md-12">
                                <div class="col-md-3">
                                        <!--<input type="button"-->
                                           <!--ng-disabled="{{modelAvailForSelect.dynamic0}}"-->
                                           <!--ng-class="model.dynamic0"  style="margin:3px ; width:50px" value="1"-->
                                           <!--ng-click="updateStatus(selectedRestaurant.seats[0],'dynamic0',0)" />-->
                                </div>
                                <div class="col-md-3">
                                    <input type="button" style="width:50px ; margin:3px"
                                           ng-disabled="{{modelAvailForSelect.dynamic1}}"
                                           ng-class="model.dynamic1" value="1"
                                           ng-click="updateStatus(selectedRestaurant.seats[0],'dynamic1',1)" />
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" style="width:50px;margin:3px"  value="3" ng-disabled="{{modelAvailForSelect.dynamic2}}" ng-class="model.dynamic2" ng-click="updateStatus(selectedRestaurant.seats[2],'dynamic2',2)" />-->
                                </div>
                                <div class="col-md-3">
                                 <!--<input type="button" value="4" style="width:50px;margin:3px" ng-disabled="{{modelAvailForSelect.dynamic3}}" ng-class="model.dynamic3" ng-click="updateStatus(selectedRestaurant.seats[3],'dynamic3',3)"    />-->
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="col-md-3">
                                     <input type="button" ng-class="model.dynamic4" ng-disabled="{{modelAvailForSelect.dynamic4}}" value="2" style="width:50px;margin:3px"  ng-click="updateStatus(selectedRestaurant.seats[1],'dynamic4',4)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic5" ng-disabled="{{modelAvailForSelect.dynamic5}}" value="3" style="width:50px;margin:3px"   ng-click="updateStatus(selectedRestaurant.seats[2],'dynamic5',5)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic6" ng-disabled="{{modelAvailForSelect.dynamic6}}" value="4" style="width:50px;margin:3px"   ng-click="updateStatus(selectedRestaurant.seats[3],'dynamic6',6)" />
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" value="8" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic7}}" ng-class="model.dynamic7" ng-click="updateStatus(selectedRestaurant.seats[7],'dynamic7',7)" />-->
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="col-md-3">
                                     <input type="button" ng-class="model.dynamic8" value="5" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic8}}" ng-click="updateStatus(selectedRestaurant.seats[4],'dynamic8',8)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic9" value="6" style="width:50px;margin:3px" ng-disabled="{{modelAvailForSelect.dynamic9}}" ng-click="updateStatus(selectedRestaurant.seats[5],'dynamic9',9)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic10" value="7" style="width:50px;margin:3px"  ng-disabled="{{modelAvailForSelect.dynamic10}}" ng-click="updateStatus(selectedRestaurant.seats[6],'dynamic10',10)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button"  ng-class="model.dynamic11" value="8" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic11}}" ng-click="updateStatus(selectedRestaurant.seats[7],'dynamic11',11)" />
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="col-md-3">
                                     <!--<input type="button" ng-class="model.dynamic12" value="13" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic12}}" ng-click="updateStatus(selectedRestaurant.seats[12],'dynamic12',12)" />-->

                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic13"  value="9" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic13}}" ng-click="updateStatus(selectedRestaurant.seats[8],'dynamic13',13)" />
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" ng-class="model.dynamic14"  value="15" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic14}}" ng-click="updateStatus(selectedRestaurant.seats[14],'dynamic14',14)" />-->
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" ng-class="model.dynamic15" value="16" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic15}}" ng-click="updateStatus(selectedRestaurant.seats[15],'dynamic15',15)" />-->

                                </div>
                            </div>

                    </div>
                    </div>

                </div>



    <div ng-hide="layout.peanutsLayout"   style="color: black; " >


                    <div  class="lead"   style="width: 330px;height: 200px; top: 350px; background-color: white; position: absolute"  >Chooos your Table at :  <b>{{selectedRestaurant.name}}</b>
                        <br/><br/>

                        Food : Veg/ Non veg<br>
                        Cuisines : Asian / Arabian<br>
                    </div>


                <div class="col-md-4 bgimg"  style="background-color: #784E45; top:90px;left:340px; position: absolute;">

                    <!--ACTUAL LAYOUT DONT DISTURB-->
                    <div class="col-md-12" style="padding-left: 40%">

                        <div class="col-md-12">
                            <div class="lead" > &nbsp;&nbsp;&nbsp;</div>
                        </div>

                            <div class="col-md-12">
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" style="width:50px ; margin:3px"
                                           ng-disabled="{{modelAvailForSelect.dynamic1}}"
                                           ng-class="model.dynamic1" value="1"
                                           ng-click="updateStatus(selectedRestaurant.seats[0],'dynamic1',1)"/>
                                </div>
                                <div class="col-md-3">
                                    <input type="button" style="width:50px;margin:3px"  value="2" ng-disabled="{{modelAvailForSelect.dynamic2}}" ng-class="model.dynamic2" ng-click="updateStatus(selectedRestaurant.seats[1],'dynamic2',2)"  />
                                </div>

                            </div>


                            <div class="col-md-12" style="margin-bottom: 15px;margin-top: 15px;">
                                <div class="col-md-3">
                                     <input type="button" ng-class="model.dynamic4" ng-disabled="{{modelAvailForSelect.dynamic4}}" value="3" style="width:50px;margin:3px"  ng-click="updateStatus(selectedRestaurant.seats[2],'dynamic4',4)"  />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic5" ng-disabled="{{modelAvailForSelect.dynamic5}}" value="4" style="width:50px;margin:3px"   ng-click="updateStatus(selectedRestaurant.seats[3],'dynamic5',5)"  />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic6" ng-disabled="{{modelAvailForSelect.dynamic6}}" value="5" style="width:50px;margin:3px"   ng-click="updateStatus(selectedRestaurant.seats[4],'dynamic6',6)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="6" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic7}}" ng-class="model.dynamic7" ng-click="updateStatus(selectedRestaurant.seats[5],'dynamic7',7)" />
                                </div>
                            </div>



                            <div class="col-md-12">
                                <div class="col-md-3">
                                     <input type="button" ng-class="model.dynamic8" value="7" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic8}}" ng-click="updateStatus(selectedRestaurant.seats[6],'dynamic8',8)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic9" value="8" style="width:50px;margin:3px" ng-disabled="{{modelAvailForSelect.dynamic9}}" ng-click="updateStatus(selectedRestaurant.seats[7],'dynamic9',9)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic10" value="9" style="width:50px;margin:3px"  ng-disabled="{{modelAvailForSelect.dynamic10}}" ng-click="updateStatus(selectedRestaurant.seats[8],'dynamic10',10)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button"  ng-class="model.dynamic11" value="10" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic11}}" ng-click="updateStatus(selectedRestaurant.seats[9],'dynamic11',11)" />
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" ng-class="model.dynamic13"  value="14" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic13}}" ng-click="updateStatus(selectedRestaurant.seats[13],'dynamic13',13)" />-->
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" ng-class="model.dynamic14"  value="15" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic14}}" ng-click="updateStatus(selectedRestaurant.seats[14],'dynamic14',14)" />-->
                                </div>
                                <div class="col-md-3">
                                </div>

                            </div>


                    </div>
                    </div>

                </div>

    </div>



<div  style="background-color: wheat;  top: 510px;width: 480px; height: 70px; position: absolute;left: 390px; "   >

                            <button type="button" class="btn btn-success"> </button> <span style="font-size:medium">Selection</span>
                            <br/>
                            <button type="button" class="btn btn-warning"> </button> <span style="font-size:medium">Booked</span>
                            <br/>
                            <button type="button" class="btn btn-danger"> </button> <span style="font-size:medium">Dining</span>
                            </div>


<div  style="background-color: White;  top: 580px;width: 500px; height: 170px; position: absolute;left: 390px; "   >
    <br>&nbsp; With Have A Seat

     <img src="static/images/restaurants/haveFood.gif" alt="HTML5 Icon" style="width:490px;height:200px;">

</div>



<div  style="background-color: red;  top: 480px;width: 390px; height: 170px; position: absolute;left: 00px; "   >
       <br> Without Have A Seat

     <img src="static/images/restaurants/noMoreRuning.gif" alt="HTML5 Icon" style="width:390px;height:250px;">
</div>



    <div ng-hide="layout.mcDonaldsLayout" > McDonalds Layout



         <div class="col-md-4">

                            <br/>
                            <br/>
                    <div class="lead" >Chooos your Table at :  <b>{{selectedRestaurant.name}}</b>
                        <br/>
                        <dl class="dl-horizontal">
                            <dt>Food</dt>
                            <dd>Veg / Non veg</dd>
                            <dt>Cuisines</dt>
                            <dd>Asian / Arabian</dd>
                            <dt>Food</dt>
                            <dd>Veg / Non veg</dd>
                        </dl>

                         <button type="button" class="btn btn-success"> </button> <span style="font-size:medium">Selection</span>
                            <br/>
                            <button type="button" class="btn btn-warning"> </button> <span style="font-size:medium">Booked</span>
                            <br/>
                            <button type="button" class="btn btn-danger"> </button> <span style="font-size:medium">Dining</span>
                    </div>
                </div>

                <div class="col-md-4">

                    <!--ACTUAL LAYOUT DONT DISTURB-->
                    <div class="col-md-12">

                        <div class="col-md-12">
                            <div class="lead" > &nbsp;&nbsp;&nbsp;</div>
                        </div>

                            <div class="col-md-12">
                                <div class="col-md-3">
                                        <input type="button"
                                           ng-disabled="{{modelAvailForSelect.dynamic0}}"
                                           ng-class="model.dynamic0"  style="margin:3px ; width:50px" value="1"
                                           ng-click="updateStatus(selectedRestaurant.seats[0],'dynamic0',0)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" style="width:50px ; margin:3px"
                                           ng-disabled="{{modelAvailForSelect.dynamic1}}"
                                           ng-class="model.dynamic1" value="2"
                                           ng-click="updateStatus(selectedRestaurant.seats[1],'dynamic1',1)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" style="width:50px;margin:3px"  value="3" ng-disabled="{{modelAvailForSelect.dynamic2}}" ng-class="model.dynamic2" ng-click="updateStatus(selectedRestaurant.seats[2],'dynamic2',2)" />
                                </div>
                                <div class="col-md-3">
                                 <input type="button" value="4" style="width:50px;margin:3px" ng-disabled="{{modelAvailForSelect.dynamic3}}" ng-class="model.dynamic3" ng-click="updateStatus(selectedRestaurant.seats[3],'dynamic3',3)"    />
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="col-md-3">
                                     <!--<input type="button" ng-class="model.dynamic4" ng-disabled="{{modelAvailForSelect.dynamic4}}" value="5" style="width:50px;margin:3px"  ng-click="updateStatus(selectedRestaurant.seats[4],'dynamic4',4)" />-->
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic5" ng-disabled="{{modelAvailForSelect.dynamic5}}" value="6" style="width:50px;margin:3px"   ng-click="updateStatus(selectedRestaurant.seats[5],'dynamic5',5)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic6" ng-disabled="{{modelAvailForSelect.dynamic6}}" value="7" style="width:50px;margin:3px"   ng-click="updateStatus(selectedRestaurant.seats[6],'dynamic6',6)" />
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" value="8" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic7}}" ng-class="model.dynamic7" ng-click="updateStatus(selectedRestaurant.seats[7],'dynamic7',7)" />-->
                                </div>
                            </div>



                            <div class="col-md-12">
                                <div class="col-md-3">
                                     <!--<input type="button" ng-class="model.dynamic8" value="9" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic8}}" ng-click="updateStatus(selectedRestaurant.seats[8],'dynamic8',8)" />-->
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic9" value="10" style="width:50px;margin:3px" ng-disabled="{{modelAvailForSelect.dynamic9}}" ng-click="updateStatus(selectedRestaurant.seats[9],'dynamic9',9)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic10" value="11" style="width:50px;margin:3px"  ng-disabled="{{modelAvailForSelect.dynamic10}}" ng-click="updateStatus(selectedRestaurant.seats[10],'dynamic10',10)" />
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button"  ng-class="model.dynamic11" value="12" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic11}}" ng-click="updateStatus(selectedRestaurant.seats[11],'dynamic11',11)" />-->
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="col-md-3">
                                     <input type="button" ng-class="model.dynamic12" value="13" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic12}}" ng-click="updateStatus(selectedRestaurant.seats[12],'dynamic12',12)" />

                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic13"  value="14" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic13}}" ng-click="updateStatus(selectedRestaurant.seats[13],'dynamic13',13)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic14"  value="15" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic14}}" ng-click="updateStatus(selectedRestaurant.seats[14],'dynamic14',14)" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic15" value="16" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic15}}" ng-click="updateStatus(selectedRestaurant.seats[15],'dynamic15',15)" />

                                </div>
                            </div>

                    </div>
                    </div>

                </div>

    </div>

    <div ng-hide="layout.pizzahutLayout">

                <div class="col-md-4">

                            <br/>
                            <br/>
                    <div class="lead" >Chooos your Table at :  <b>{{selectedRestaurant.name}}</b>
                        <br/>
                        <dl class="dl-horizontal">
                            <dt>Food</dt>
                            <dd>Veg / Non veg</dd>
                            <dt>Cuisines</dt>
                            <dd>Asian / Arabian</dd>
                            <dt>Food</dt>
                            <dd>Veg / Non veg</dd>
                        </dl>

                         <button type="button" class="btn btn-success"> </button> <span style="font-size:medium">Selection</span>
                            <br/>
                            <button type="button" class="btn btn-warning"> </button> <span style="font-size:medium">Booked</span>
                            <br/>
                            <button type="button" class="btn btn-danger"> </button> <span style="font-size:medium">Dining</span>
                    </div>
                </div>

                <div class="col-md-4">

                    <!--ACTUAL LAYOUT DONT DISTURB-->
                    <div class="col-md-12">

                        <div class="col-md-12">
                            <div class="lead" > &nbsp;&nbsp;&nbsp;</div>
                        </div>

                            <div class="col-md-12">
                                 <div class="col-md-3">
                                    <input type="button"
                                           ng-disabled="{{modelAvailForSelect.dynamic0}}"
                                           ng-class="model.dynamic0"  style="margin:3px ; width:50px" value="1"
                                           ng-click="updateStatus(selectedRestaurant.seats[0],'dynamic0',0)"/>
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" style="width:50px ; margin:3px"-->
                                           <!--ng-disabled="{{modelAvailForSelect.dynamic1}}"-->
                                           <!--ng-class="model.dynamic1" value="2"-->
                                           <!--ng-click="updateStatus(selectedRestaurant.seats[1],'dynamic1',1)"-->
                                      <!--data-toggle="modal" data-target="#myModal"/>-->
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" style="width:50px;margin:3px"  value="3" ng-disabled="{{modelAvailForSelect.dynamic2}}" ng-class="model.dynamic2" ng-click="updateStatus(selectedRestaurant.seats[2],'dynamic2',2)"   data-toggle="modal" data-target="#myModal"/>-->
                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="2" style="width:50px;margin:3px" ng-disabled="{{modelAvailForSelect.dynamic3}}" ng-class="model.dynamic3" ng-click="updateStatus(selectedRestaurant.seats[1],'dynamic3',3)"  />
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="col-md-3">
                                     <!--<input type="button" ng-class="model.dynamic4" ng-disabled="{{modelAvailForSelect.dynamic4}}" value="5" style="width:50px;margin:3px"  ng-click="updateStatus(selectedRestaurant.seats[4],'dynamic4',4)"   data-toggle="modal" data-target="#myModal"/>-->
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic5" ng-disabled="{{modelAvailForSelect.dynamic5}}" value="3" style="width:50px;margin:3px"   ng-click="updateStatus(selectedRestaurant.seats[2],'dynamic5',5)" />
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" ng-class="model.dynamic6" ng-disabled="{{modelAvailForSelect.dynamic6}}" value="7" style="width:50px;margin:3px"   ng-click="updateStatus(selectedRestaurant.seats[6],'dynamic6',6)"   data-toggle="modal" data-target="#myModal"/>-->
                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="4" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic7}}" ng-class="model.dynamic7" ng-click="updateStatus(selectedRestaurant.seats[3],'dynamic7',7)" />
                                </div>
                            </div>



                            <div class="col-md-12">
                                <div class="col-md-3">
                                     <input type="button" ng-class="model.dynamic8" value="5" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic8}}" ng-click="updateStatus(selectedRestaurant.seats[4],'dynamic8',8)" />
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" ng-class="model.dynamic9" value="10" style="width:50px;margin:3px" ng-disabled="{{modelAvailForSelect.dynamic9}}" ng-click="updateStatus(selectedRestaurant.seats[9],'dynamic9',9)"   data-toggle="modal" data-target="#myModal"/>-->
                                </div>
                                <div class="col-md-3">
                                    <input type="button" ng-class="model.dynamic10" value="6" style="width:50px;margin:3px"  ng-disabled="{{modelAvailForSelect.dynamic10}}" ng-click="updateStatus(selectedRestaurant.seats[5],'dynamic10',10)"  />
                                </div>
                                <div class="col-md-3">
                                    <input type="button"  ng-class="model.dynamic11" value="7" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic11}}" ng-click="updateStatus(selectedRestaurant.seats[6],'dynamic11',11)" />
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="col-md-3">
                                     <!--<input type="button" ng-class="model.dynamic12" value="13" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic12}}" ng-click="updateStatus(selectedRestaurant.seats[12],'dynamic12',12)"   data-toggle="modal" data-target="#myModal"/>-->
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" ng-class="model.dynamic13"  value="14" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic13}}" ng-click="updateStatus(selectedRestaurant.seats[13],'dynamic13',13)"   data-toggle="modal" data-target="#myModal"/>-->
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" ng-class="model.dynamic14"  value="15" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic14}}" ng-click="updateStatus(selectedRestaurant.seats[14],'dynamic14',14)"   data-toggle="modal" data-target="#myModal"/>-->
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" ng-class="model.dynamic15" value="16" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic15}}" ng-click="updateStatus(selectedRestaurant.seats[15],'dynamic15',15)"   data-toggle="modal" data-target="#myModal"/>-->
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="col-md-3">
                                     <!--<input type="button" ng-class="model.dynamic12" value="13" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic12}}" ng-click="updateStatus(selectedRestaurant.seats[12],'dynamic12',12)" />-->
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" ng-class="model.dynamic13"  value="14" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic13}}" ng-click="updateStatus(selectedRestaurant.seats[13],'dynamic13',13)" />-->
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" ng-class="model.dynamic14"  value="15" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic14}}" ng-click="updateStatus(selectedRestaurant.seats[14],'dynamic14',14)" />-->
                                </div>
                                <div class="col-md-3">
                                    <!--<input type="button" ng-class="model.dynamic15" value="16" style="width:50px;margin:3px"   ng-disabled="{{modelAvailForSelect.dynamic15}}" ng-click="updateStatus(selectedRestaurant.seats[15],'dynamic15',15)" />-->
                                </div>
                            </div>

                    </div>
                    </div>

                </div>



                    <div    class="col-md-6" style="background-color: chocolate; right:320px ;top :93px; width: 250px;height: 700px; position: absolute; ">

                        <div ng-hide="true"> ThankYou for making a booking with Have A Seat </div>
                        <br/>
                        Your Tables
                        <input type="button" class="btn btn-primary" value="CheckOut" ng-click="checkOut(selectedRestaurant.id)"/>
                        <br/>
                        <br/>
                      <!--  <div class="fb-page" data-href="https://www.facebook.com/Tem5HaveASeat/" data-tabs="timeline" data-width="400" data-height="150" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Tem5HaveASeat/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Tem5HaveASeat/">Have A Seat</a></blockquote></div> -->


                        <div class="panel panel-default">
                                    <ul class="list-group">
                                      <li class="list-group-item" ng-repeat="table in bookedTables">
                                           Table #{{table.selectedTable.sid}}
                                            <input type="button" value="UnBook" class="btn btn-link" ng-click="unBook(table)">
                                        </li>
                                    </ul>
                        </div>

                    </div>

    </div>
</div>


<footer   style="background-color:black;  right: 05px; width: 100%;
    height: 50px;   bottom: 0px; position: fixed;"  >


</footer>