<nav class="navbar navbar-default navbar-fixed-top" role="navigation"  ng-model="hideHeader">
            <div class="container">
                <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Have A Seat</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                        <ul class="nav navbar-nav main-nav  clear navbar-right "   ng-model="logout" >

                            <li>
                                <form   ng-submit="$ctrl.searchRestaurants()" class="navbar-form navbar-left"   ng-model="hideSearch">
                                <div class="form-group">
                                    <input type="text" class="form-control"     ng-hide="hideSearch"  placeholder="search" name="search"  ng-model="search" value="{{request.form.search}}">
                                    <span style="color:white" aria-hidden="true"></span>
                                </div>
                                <input type="submit" class="btn btn-default" value="Search">
                                </form>
                            </li>
                            <li><a class="color_animation" href="#!/login"   ng-hide="hideLoginSignup" >Login</a></li>
                            <li><a class="color_animation" href="#!/signup"   ng-hide="hideLoginSignup" >Signup</a></li>
                        </ul>

                    </div><!-- /.navbar-collapse -->
                </div>
            </div><!-- /.container-fluid -->
        </nav>




<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: white;
    color: white;
}

.modal-body {padding: 2px 16px; background-color: white;
    color: white; }

.modal-footer {
    /*padding: 2px 16px;*/
    background-color: white;
    color: white;
}
</style>



<link rel="stylesheet" href="static/css/signUp.css">
<div class="wrapper">

<form name ='form1' class="form-signin"   ng-submit="$ctrl.signup()">

      <h2 class="form-signin-heading">Please Sign Up</h2>
      <br><input     aria-describedby="name-format" required aria-required=”true” pattern="[A-Za-z]+"  id="firstName" type="text" class="form-control" name="firstName"    ng-model="firstName" placeholder="First Name" required="" autofocus=""  value="{{request.form.firstName}}"/>
      <span id="firstname_validation" class="error"></span>


    <br><input     aria-describedby="name-format" required aria-required=”true” pattern="[A-Za-z]+"  id="lastName"  type="text" class="form-control" name="lastName"  ng-model="lastName" placeholder="Last Name" required="" value="{{request.form.lastName}}"/>
     <span id="lastname_validation" class="error"></span>

      <br><input   id="email"  type="email" class="form-control" name="emailid"     ng-model="emailid"   placeholder="Email Address" required="" autofocus="" value="{{request.form.emailid}}" />
       <span id="email_validation" class="error"></span>



    <br><input id="password" type="password" class="form-control" name="password"  ng-model="password"  placeholder="Password" required="" value="{{request.form.password}}"/>
    <span id="password_validation" class="error"></span>



      <br><button   id="myBtn"  class="btn btn-lg btn-primary btn-block" type="submit" onclick="validateForm()">Sign Up</button>
 </form>


  </div>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2 style="margin-left: 30%"><i>Thank you for registering with Have A Seat !</i></h2>

    <div class="modal-body">
      <p style="margin-left: 40%">Please continue with the login</p>

    <div class="modal-footer">

         <form class="form-signin"   ng-submit="redirct()">
             <button   class="btn btn-lg btn-primary btn-block" type="submit" onclick="redirct()" >Login</button>
               </form>

    </div>
    </div>
    </div>
  </div>

</div>


<script>


function openModal() {
// Get the modal
    var modal = document.getElementById('myModal');

// Get the button that opens the modal
    var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
        modal.style.display = "block";

// When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    };

// When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
}
</script>






<script>

    function validateForm() {
  var valid = 1;
  var email = document.getElementById('email');
  var email_validation = document.getElementById("email_validation");
  var firstname = document.getElementById('firstName');
  var firstname_validation = document.getElementById("firstname_validation");
  var lastname = document.getElementById('lastName');
  var lastname_validation = document.getElementById("lastname_validation");
        var password =document.getElementById('password');
  var password_validation = document.getElementById("password_validation");


  var filteremail = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  var filtername=/^[A-Za-z]+$/;

        var mnlen = 6;
        var mxlen = 10;


                      console.log(password.value);
        console.log(password.value.length);

        if(password.value.length === 0)
        {
             valid=0;
             //password_validation.innerHTML = "Field Required";
             //password_validation.style.display = "block";
             //password_validation.parentNode.style.backgroundColor = "#FFDFDF";


        }
        else
        {
            //password_validation.style.display="none" ;
        }


        if((password.value.length<mnlen || password.value.length> mxlen )  &&  password.value.length !=0)
        {
            valid = 0;
            //password_validation.innerHTML = "Please enter password between 6 to 10 characters";
            //password_validation.style.display = "block";
            //password_validation.parentNode.style.backgroundColor = "#FFDFDF";
        }
     //   else {

      //      password_validation.style.display = "none";
      //  }


  if (firstname.value === "") {
    valid = 0;
    //firstname_validation.innerHTML = "Field Required";
    //firstname_validation.style.display = "block";
    //firstname_validation.parentNode.style.backgroundColor = "#FFDFDF";
  } else {
    //firstname_validation.style.display = "none";
//    firstname_validation.parentNode.style.backgroundColor = "transparent";
  }
  if (lastname.value === "") {
    valid = 0;
    //lastname_validation.innerHTML = "Field Required";
    //lastname_validation.style.display = "block";
    //lastname_validation.parentNode.style.backgroundColor = "#FFDFDF";
  } else {
    //lastname_validation.style.display = "none";
//    lastname_validation.parentNode.style.backgroundColor = "transparent";
  }


  if (email.value === "") {
    valid = 0;
    //email_validation.innerHTML = "Field Required";
    //email_validation.style.display = "block";
    //email_validation.parentNode.style.backgroundColor = "#FFDFDF";
  } else {
    //email_validation.style.display = "none";
//    email_validation.parentNode.style.backgroundColor = "transparent";
  }

  if(!filteremail.test(email.value) && email.value != "") {
    valid = 0;
    //email_validation.innerHTML = "Invalid email address";
    //email_validation.style.display = "block";
    //email_validation.parentNode.style.backgroundColor = "#FFDFDF";
  } //else {
    //email_validation.style.display = "none";
//    email_validation.parentNode.style.backgroundColor = "transparent";
  //}

  if(!filtername.test(firstname.value)  && firstname.value!="") {
    valid = 0;
    //firstname_validation.innerHTML = "Please enter first name with alphabets";
    //firstname_validation.style.display = "block";
    //firstname_validation.parentNode.style.backgroundColor = "#FFDFDF";
  }
//  else {
//    firstname_validation.style.display = "none";
////    email_validation.parentNode.style.backgroundColor = "transparent";
//  }

  if(!filtername.test(lastname.value)  &&  lastname.value!="") {
    valid = 0;
    //lastname_validation.innerHTML = "Please enter last name with alphabets";
    //lastname_validation.style.display = "block";
    //lastname_validation.parentNode.style.backgroundColor = "#FFDFDF";
 } //else {
//    lastname_validation.style.display = "none";
////    email_validation.parentNode.style.backgroundColor = "transparent";
//  }





  if (!valid) {
      //alert("Game of thrones");
      return false;
  }
  else
  {
      //alert('John Snow');
      valid =1;
      openModal();
  }


}


</script>



<!--<style>-->


    <!--#email_validation, #name_validation {-->
    <!--display:none;-->
<!--}-->

<!--label.required:after {-->
  <!--content:'*';-->
  <!--color:red;-->
<!--}-->

<!--span.error {-->
  <!--background-color:#FFDFDF;-->
  <!--color:red;-->
<!--}-->
<!--.row {-->
  <!--margin:5px;-->
<!--}-->
<!--</style>-->