<!DOCTYPE html>
<html lang="en" ng-app="HaveASeat" xmlns="http://www.w3.org/1999/html">


<head>
    <meta charset="UTF-8">
    <title>Have A Seat</title>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <link href={{url_for('static', filename='css/bootstrap.min.css')}} rel="stylesheet" type="text/css" />
    <link href={{url_for('static', filename='images/icon.png')}} rel="shortcut icon" />

    <script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="static/angularjs/src/angular.js"></script>
<script src="static/angularjs/src/angular-route.js"></script>
<script src="static/angularjs/src/angular-resource.js"></script>
<script src="static/angularjs/src/angular-animate.js"></script>
<script src="static/angularjs/src/angular-cookies.js"></script>
<script src="static/app.module.js"></script>
<script src="static/app.config.js"></script>

<script src="static/header/header.module.js"></script>
<script src="static/header/header.component.js"></script>


<script src="static/owner/owner.module.js"></script>
<script src="static/owner/owner.component.js"></script>

<script src="static/index/index.module.js"></script>
<script src="static/index/index.component.js"></script>

<script src="static/restaurants/restaurants.module.js"></script>
<script src="static/restaurants/restaurants.component.js"></script>

<script src="static/seats/seats.module.js"></script>
<script src="static/seats/seats.component.js"></script>

</head>

<body>
<header></header>

<div ng-view></div>

</body>

</html>