<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Have A Seat</title>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <link href={{url_for('static', filename='css/bootstrap.min.css')}} rel="stylesheet" type="text/css" />
    <link href={{url_for('static', filename='images/icon.png')}} rel="shortcut icon" />


        <!-- css for restaurant seat display-->
       <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/style1.css')}}/>
     <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/jquery.seat-charts.css')}}/>
     <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/style.css')}}/>


</head>


<header>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" href="/">
          <img style ="max-width:150px; margin-top  -7px:" src ="{{url_for('static', filename='images/logo1.png')}}"
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" method="GET" action="http://localhost:8082/Dominos">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Restaurant">
        </div>
        <button type="button" class="btn btn-default">
        <span class ="glyphicon glyphicon-search"  aria-hidden="true"></span>Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  sign up
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">submit</button>
      </div>
    </div>
  </div>
</div>

        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>



<body>

<div class ="border-row" style="width: 100%; margin-bottom: 15px;"></div>

<div class="container" style ="min-height: 100%">

{% block body %}{% endblock %}

</div>


<!-- display of seat in restaurant -->
<div class="wrapper" >
			<div class="container">
				<div id="seat-map">
					<div class="front-indicator">Entrance Door</div>

				</div>
				<div class="booking-details">
					<h2>Booking Deatials </h2>

					<h3> Selected Seats (<span id="counter">0</span>):</h3>
					<ul id="selected-seats"></ul>

					Total: <b>$<span id="total">0</span></b>

					<button class="checkout-button">Checkout &raquo;</button>

					<div id="legend"></div>
				</div>
			</div>
		</div>

         <script type="text/javascript" src={{url_for('static', filename='js/jquery-1.11.0.min.js')}}></script>
         <script type="text/javascript" src={{url_for('static', filename='js/jquery.seat-charts.js')}}></script>


		<script>
			var firstSeatLabel = 1;

			$(document).ready(function() {
				var $cart = $('#selected-seats'),
					$counter = $('#counter'),
					$total = $('#total'),
					sc = $('#seat-map').seatCharts({
					map: [
						'f_ff',
						'f_ff',
						'e_ee',
						'e_ee',
						'e___',
						'e_ee',
						'e_ee',
						'e_ee',
						'eeee',
					],
					seats: {
						f: {
							price   : 100,
							classes : 'first-class', //your custom CSS class
							category: 'First Class'
						},
						e: {
							price   : 40,
							classes : 'economy-class', //your custom CSS class
							category: 'Economy Class'
						}

					},
					naming : {
						top : false,
						getLabel : function (character, row, column) {
							return firstSeatLabel++;
						},
					},
					legend : {
						node : $('#legend'),
					    items : [
							[ 'f', 'available',   'Booked ' ],
							[ 'e', 'available',   'Available'],
							[ 'f', 'unavailable', 'Dinning ']
					    ]
					},
					click: function () {
						if (this.status() == 'available') {
							//let's create a new <li> which we'll add to the cart items
							$('<li>'+this.data().category+' Seat # '+this.settings.label+': <b>$'+this.data().price+'</b> <a href="#" class="cancel-cart-item">[cancel]</a></li>')
								.attr('id', 'cart-item-'+this.settings.id)
								.data('seatId', this.settings.id)
								.appendTo($cart);

							/*
							 * Lets update the counter and total
							 *
							 * .find function will not find the current seat, because it will change its stauts only after return
							 * 'selected'. This is why we have to add 1 to the length and the current seat price to the total.
							 */
							$counter.text(sc.find('selected').length+1);
							$total.text(recalculateTotal(sc)+this.data().price);

							return 'selected';
						} else if (this.status() == 'selected') {
							//update the counter
							$counter.text(sc.find('selected').length-1);
							//and total
							$total.text(recalculateTotal(sc)-this.data().price);

							//remove the item from our cart
							$('#cart-item-'+this.settings.id).remove();

							//seat has been vacated
							return 'available';
						} else if (this.status() == 'unavailable') {
							//seat has been already booked
							return 'unavailable';
						} else {
							return this.style();
						}
					}
				});

				//this will handle "[cancel]" link clicks
				$('#selected-seats').on('click', '.cancel-cart-item', function () {
					//let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
					sc.get($(this).parents('li:first').data('seatId')).click();
				});

				//let's pretend some seats have already been booked
				sc.get(['1_2', '4_1', '7_1', '7_2']).status('unavailable');

		});

		function recalculateTotal(sc) {
			var total = 0;

			//basically find every selected seat and sum its price
			sc.find('selected').each(function () {
				total += this.data().price;
			});

			return total;
		}

		</script>


</body>

<!--<h1>restaurant near you</h1><h5>{{list}}</h5> -->

</html>