<link rel="stylesheet" href="static/css/signUp.css">
<div class="wrapper">
     {{$root.registerDetails.customerName}} {{$root.message}}
    <form method="POST" class="form-signin" ng-submit="$ctrl.login()">
      <h2 class="form-signin-heading">Login</h2>
      <br><input type="text" class="form-control" name="username" placeholder="Email Address"  ng-model="username" required="" autofocus=""  value="{{request.form.username}}"/>
      <br><input type="password" class="form-control" name="password" placeholder="Password" ng-model="password" required=""  value="{{request.form.password}}"/>
      <br><button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>



